<div class="day-selector">
    <span>Day</span>
    <div class="mdl-grid">
        <div class="mdl-cell--5-col include-section">
            <div>Includes</div>
            <button class="draggable-btn draggable-segment-option mdl-button mdl-js-button mdl-color-text--grey-600">Sunday</button>
            <button class="draggable-btn draggable-segment-option mdl-button mdl-js-button mdl-color-text--grey-600">Monday</button>
            <button class="draggable-btn draggable-segment-option mdl-button mdl-js-button mdl-color-text--grey-600">Tuesday</button>
            <button class="draggable-btn draggable-segment-option mdl-button mdl-js-button mdl-color-text--grey-600">Wednesday</button>
            <button class="draggable-btn draggable-segment-option mdl-button mdl-js-button mdl-color-text--grey-600">Thursday</button>
            <button class="draggable-btn draggable-segment-option mdl-button mdl-js-button mdl-color-text--grey-600">Friday</button>
            <button class="draggable-btn draggable-segment-option mdl-button mdl-js-button mdl-color-text--grey-600">Saturday</button>
        </div>
        <div class="mdl-cell--5-col exclude-section">
            <div>Excludes</div>
        </div>
    </div>
</div>