<div class="os-selector">
    <span>OS</span>
    <div class="mdl-grid">
        <div class="mdl-cell--5-col include-section">
            <div>Includes</div>
            <button class="draggable-btn draggable-segment-option mdl-button mdl-js-button mdl-color-text--grey-600">Windows</button>
            <button class="draggable-btn draggable-segment-option mdl-button mdl-js-button mdl-color-text--grey-600">Mac</button>
            <button class="draggable-btn draggable-segment-option mdl-button mdl-js-button mdl-color-text--grey-600">Linux</button>
            <button class="draggable-btn draggable-segment-option mdl-button mdl-js-button mdl-color-text--grey-600">Unix</button>
        </div>
        <div class="mdl-cell--5-col exclude-section">
            <div>Excludes</div>
        </div>
    </div>
</div>