<div class="visiter-type-selector">
    <span>Visitor type</span>
    <div class="mdl-grid">
        <div class="mdl-cell--5-col include-section">
            <div>Includes</div>
            <button class="draggable-btn draggable-segment-option mdl-button mdl-js-button mdl-color-text--grey-600">New</button>
            <button class="draggable-btn draggable-segment-option mdl-button mdl-js-button mdl-color-text--grey-600">Returning</button>
        </div>
        <div class="mdl-cell--5-col exclude-section">
            <div>Excludes</div>
        </div>
    </div>
</div>